<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un enlace para cambiar tu contraseña. Puedes hacerlo a través del siguiente enlace:</p>

<p><a href="<%= @frontend_url %>/#/reset-password?token=<%= @token %>">Cambiar mi contraseña</a></p>

<p>Si no solicitaste este cambio, por favor ignora este correo.</p>
<p>Tu contraseña no cambiará hasta que accedas al enlace de arriba y crees una nueva.</p>
